html{
    scroll-behavior: smooth;
}
body {
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #240c0c;
    color: white;
    text-align: center;
    overflow-x:hidden;
}

.logo {
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin-left: 130px;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #280000;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    z-index: 1000;
}
nav {
    display: flex;
    gap: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 50px;
}
nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

nav a:hover {
    color: #ffcc00;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    margin-right: 50px;
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #280000;
        text-align: center;
    }
    .nav-links.active {
        display: flex;
    }
    .hamburger {
        display: block;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #320e0e;
    margin: auto;
}
.content-text {
    flex: 1;
    text-align: left;
    margin-left: 10rem;
}
.content-text h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
    
}
.content-text p {
    font-size: 30px;
}
.content img {
    width: 250px;
    height: auto;
    margin-left: 20px;
    margin-right: 80px;
}

footer {
    padding: 20px;
    background-color: black;
    font-size: 16px;
}

footer a{
    color: white;
    font-size: 15px;
}


.white{
    color: white;
    font-weight: lighter;
}
